.sidebar{
    background-image: linear-gradient(40deg, #19d3ae,#0fcfec);
    position: fixed;
}
.laundry img{
    width: 100%;
    padding-bottom: 20px;
}
.laundry:hover{
    color: black;
    text-decoration: none;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}
.li-style li{
    margin-bottom: 20px;
}